<head>
    <h3><%= "Welcome " + @name +"!"%>
    <%= button_to 'To New Requests', '/requests/new',:method => "get" %></h3>
</head>
<body>
    <div class="caption">Update Information</div>
        <%= form_for(@user, url: sessions_new_path(@user)) do |f| %>
        <div class="field">
        <table id="table">
            <tr class="header-row">
                <td><%= f.label :stud_id, "Student ID" %></td>
                <td><%= f.label :name, "Name" %></td>
                <td><%= f.label :email, "Email" %></td>
                <td><%= f.label :user_type, "User Type" %></td>
            </tr>
            <tr class="row">
                <td><%= f.text_field :stud_id %></td>
                <td><%= f.text_field :name, :value => @name  %></td>
                <td><%= f.email_field :email, :value => @email %></td>
                <td><%= f.text_field :user_type, :value => 0 %></td>
            </tr>
        </table>
    <div class="actions">
        <%= f.submit "Update" %>
    </div>
    <% end %>
    </div>
</body>