<div class="container">
  <div class="caption">User Credentials</div>
  <%= form_for(@user,url: update_path(@user)) do |f| %>
  <div class="field">
    <table id="table" class="table">
      <thead>
        <tr>
          <td><%= f.label :sID, "Student ID" %></td>
          <td><%= f.label :user_type, "User Type" %></td>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= f.number_field :sID, :value => @user.sID%></td>
        <td><%= f.select :user_type, [["Student", "Student"], ["Manager", "Manager"]],:value => @user.user_type %></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
  <% end %>
</div>