<div class="header">
  <h3>Submitted Requests</h3>
  <div class="switch">
  <%= button_to 'New Requests', 'requests/new',:method => "get" %>
  </div>
</div>


<div class = "containerTable"> 
<div class="caption">View All Requests</div>
    <table id="table" border=.5>
        <tr class="header-row">
            <th>Time Created</th>
            <th>Student ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Pick-Up Location</th>
            <th>Drop-Off Location</th>
            <th>Pick-Up Date</th>
            <th>Pick-Up Time</th>
            <th>Status</th>
        </tr>
        <% @requests.each do |request| %>
        <tr class="row">
            
            <td><%= request.created_at %></td> 
            <td><%= request.StudentID %></td>
            <td><%= request.FirstName %></td>
            <td><%= request.LastName %></td>
            <td><%= request.Email %></td>
            <td><%= request.PULocation %></td>
            <td><%= request.DOLocation %></td>
            <td><%= request.PUDate %></td>
            <td><%= request.PUTime %></td>


            <td><%= request.status %></td>
            <td class="tableButton"><%= link_to 'Show', request_path(request.id), :method => :GET , :id => "Show"%></td>
            <td class="tableButton"><%= link_to 'Delete', request_path(request.id), :method => :DELETE  %></td>
<<<<<<< HEAD
            <!--<%= link_to 'Update', request_path(request.id), :method => :POST %></td>-->
=======
            <!--<td><%= link_to 'Update', request_path(request.id), :method => :POST %></td>-->


>>>>>>> cfd45f848c3092820071b7078c172ff705a6fa46
            
            <% if request.status == "Pending"%>
                <td><%= link_to 'Accept', request_path(request.id, :status => "Accepted"), :method => :POST, class: "tableButton" %></td>
                <td><%= link_to 'Deny', request_path(request.id, :status => "Denied"), :method => :POST, class: "tableButton" %></td>
            <% elsif request.status == "Accepted"%>
                <td><%= link_to 'Deny', request_path(request.id, :status => "Denied"), :method => :POST, class: "tableButton" %></td>
            <% elsif request.status == "Denied"%>
                <td><%= link_to 'Accept', request_path(request.id, :status => "Accepted"), :method => :POST, class: "tableButton" %></td>
            <% end %> 

        </tr>
        <% end %>
    </table>
</div> 
