<div class="container"> 
    <div class="caption"><h1>View Requests</h1></div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th><%= sortable "created_at" %></th>
                <th>Name</th>
                <th><%= sortable "PULocation", "Pick Up Location" %></th>
                <th><%= sortable "DOLocation", "Drop Off Location" %></th>
                <th><%= sortable "PUDate", "Requested Date" %></th>
                <th><%= sortable "ArrivalTime", "Arrival Time" %></th>
                <th><%= sortable "DepartureTime", "Departure Time" %></th>
                <th><%= sortable "status" %></th>
            </tr>
        </thead>
        <% if current_user.user_type=="Student" %>
        <% @requests.where(user_id: current_user).each do |request| %>
        <% @user = User.find_by :id => request.user_id %>
        <tbody>
            <tr>
                <td><%= request.created_at.strftime("%b. %d %Y") %></td>
                <td><%= @user.name %></td>
                <td><%= request.PULocation %></td>
                <td><%= request.DOLocation %></td>
                <td><%= request.PUDate.strftime("%b. %d %Y") %></td>
                <td><%= request.ArrivalTime.strftime("%I:%M %p") %></td>
                <td><%= request.DepartureTime.strftime("%I:%M %p") %></td>
                <td><%= request.status %></td>
                <td class="tableButton"><%= link_to 'Show', request_path(request.id), :method => :GET , :id => "Show"%></td>
                <td class="tableButton"><%= link_to 'Delete', request_path(request.id), :method => :DELETE  %></td>
            </tr>
        </tbody>
        <% end %>
        <% elsif current_user.user_type=="Manager" %>
        <% @requests.each do |request| %>
        <% @user = User.find_by :id => request.user_id %>
        <tbody>
            <tr>
                <td><%= request.created_at.strftime("%b. %d %Y") %></td>
                <td><%= @user.name %></td>
                <td><%= request.PULocation %></td>
                <td><%= request.DOLocation %></td>
                <td><%= request.PUDate.strftime("%b. %d %Y") %></td>
                <td><%= request.ArrivalTime.strftime("%I:%M %p") %></td>
                <td><%= request.DepartureTime.strftime("%I:%M %p") %></td>
                <td><%= request.status %></td>
            
                <td class="tableButton"><%= link_to 'Show', request_path(request.id), :method => :GET , :id => "Show"%></td>
                
                    <% if request.status == "Pending"%>
                        <td><%= link_to 'Accept', request_path(request.id, :status => "Accepted"), :method => :POST, class: "tableButton" %></td>
                        <td><%= link_to 'Deny', request_path(request.id, :status => "Denied"), :method => :POST, class: "tableButton" %></td>
                    <% elsif request.status == "Accepted"%>
                        <td><%= link_to 'Deny', request_path(request.id, :status => "Denied"), :method => :POST, class: "tableButton" %></td>
                    <% elsif request.status == "Denied"%>
                        <td><%= link_to 'Accept', request_path(request.id, :status => "Accepted"), :method => :POST, class: "tableButton" %></td>
                    <% end %> 
            </tr>
        </tbody>
        <% end %>
        <% end %>
    </table>
    <div class="container">
        <Button><%= link_to "CSV", requests_path(format: "csv") %></Button>
    </div>
    <%= will_paginate @requests %>
</div> 
