<div class="container"> 
    <div class="caption">View All Requests</div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th><%= sortable "created_at" %></th>
                <th>Name</th>
                <th><%= sortable "PULocation", "Pick Up Location" %></th>
                <th><%= sortable "DOLocation", "Drop Off Location" %></th>
                <th><%= sortable "PUDate", "Requested Date" %></th>
                <th><%= sortable "ArrivalTime", "Arrival Time" %></th>
                <th><%= sortable "DepartureTime", "Departure Time" %></th>
                <th><%= sortable "status" %></th>
            </tr>
        </thead>
        <% if current_user.user_type=="Student" %>
        <% @user_requests = Request.where(user_id: current_user) %>
        <% @user_requests.each do |request|% %>
            <% if Request.where(user_ud: current_user) %>
        <tbody>
            <tr>
                <td><%= request.created_at.strftime("%d %b. %Y") %></td>
                <td><%= current_user.name %></td>
                <td><%= request.PULocation %></td>
                <td><%= request.DOLocation %></td>
                <td><%= request.PUDate %></td>
                <td><%= request.ArrivalTime %></td>
                <td><%= request.DepartureTime %></td>
                <td><%= request.status %></td>
                <td class="tableButton"><%= link_to 'Show', request_path(request.id), :method => :GET , :id => "Show"%></td>
                <td class="tableButton"><%= link_to 'Delete', request_path(request.id), :method => :DELETE  %></td>
            </tr>
        </tbody>
            <% end %>
        <% end %>
        
        <% if current_user.user_type=="Manager" %>
        <% @requests.each do |request| %>
        <% @user = User.find_by :id => request.user_id %>
        <tbody>
            <tr>
                <td><%= request.created_at.strftime("%d %b. %Y") %></td>
                <td><%= @user.name %></td>
                <td><%= request.PULocation %></td>
                <td><%= request.DOLocation %></td>
                <td><%= request.PUDate %></td>
                <td><%= request.ArrivalTime %></td>
                <td><%= request.DepartureTime %></td>
                <td><%= request.status %></td>
            
                <td class="tableButton"><%= link_to 'Show', request_path(request.id), :method => :GET , :id => "Show"%></td>
                
                <% if current_user.user_type == "Student" %>
                    <td class="tableButton"><%= link_to 'Delete', request_path(request.id), :method => :DELETE  %></td>
                <% end %>
                <!--<%= link_to 'Update', request_path(request.id), :method => :POST %></td>-->
            
                <% if current_user.user_type == "Manager" %>
                    <% if request.status == "Pending"%>
                        <td><%= link_to 'Accept', request_path(request.id, :status => "Accepted"), :method => :POST, class: "tableButton" %></td>
                        <td><%= link_to 'Deny', request_path(request.id, :status => "Denied"), :method => :POST, class: "tableButton" %></td>
                    <% elsif request.status == "Accepted"%>
                        <td><%= link_to 'Deny', request_path(request.id, :status => "Denied"), :method => :POST, class: "tableButton" %></td>
                    <% elsif request.status == "Denied"%>
                        <td><%= link_to 'Accept', request_path(request.id, :status => "Accepted"), :method => :POST, class: "tableButton" %></td>
                    <% end %> 
                <% end %>
            </tr>
        </tbody>
        <% end %>
        <% end %>
    </table>
    <%= will_paginate @requests %>
</div> 
