<body>
  
<script>
  function alertEmpty() {
    alert("You must complete all fields!");
  }
  
  function alertDate() {
    alert("You cannot select a date in the past!")
  }
</script>
  
<div class="container">
  <div class="caption">Create a New Request</div>
  <%= form_for(@request) do |f| %>
  <div class="field">
    <table id="table" class="table">
      <thead>
        <tr>
          <td><%= f.label :PUDate, "Date for Request" %></td>
          <td><%= f.label :DOLocation, "Pick-Up Location" %></td>
          <td><%= f.label :PULocation, "Drop-Off Location" %></td>
          <td><%= f.label :ArrivalTime, "Time to Arrive on Site" %></td>
          <td><%= f.label :DepartureTime, "Time to Depart from Site" %></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= f.date_field :PUDate %></td>
          <td><%= f.select :PULocation, options_for_select(Location.select{|location| location.locationType == "Pick-Up"}.map{|l| l.name}) %></td>
          <td><%= f.select :DOLocation, options_for_select(Location.select{|location| location.locationType == "Drop-Off"}.map{|l| l.name}) %></td>
          <td><%= f.time_field :ArrivalTime %></td>
          <td><%= f.time_field :DepartureTime %></td>      
        </tr>
      </tbody>
    </table>
    <% if @request.errors.include? :date %>
      <%= javascript_tag "alertDate()" %>
    <% elsif @request.errors.any? %>
      <%= javascript_tag "alertEmpty()" %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Create", :class => "btn btn-primary pull-right" %>
  </div>
  <% end %>
</div>
</body>
