<div class="header">
  <h3>New Requests</h3>
  <div>
  <%= button_to 'View Requests', '/requests',:method => "get" %>
  <%= button_to "Connect With Facebook", "/auth/facebook",:method => "get" %>
  </div>
</div>

<body>
  
<script>
  function alertEmpty() {
    alert("You must complete all fields!");
  }
  
  function alertDate() {
    alert("You cannot select a date in the past!")
  }
</script>
  
<div class="container">
  <div class="caption">Create a New Request</div>
  <%= form_for(@request) do |f| %>
  <div class="field">
    <table id="table">
    <tr class="header-row">
        <td><%= f.label :StudentID, "Student ID" %></td>
        <td><%= f.label :FirstName, "First Name" %></td>
        <td><%= f.label :LastName, "Last Name" %></td>
        <td><%= f.label :Email, "Email" %></td>
      </tr>
      <tr class="row">
        <td><%= f.text_field :StudentID %></td>
        <td><%= f.text_field :FirstName %></td>
        <td><%= f.text_field :LastName %></td>
        <td><%= f.email_field :Email %></td>
      </tr>
      <tr class="header-row">
        <td><%= f.label :DOLocation, "Pick-Up Location" %></td>
        <td><%= f.label :PULocation, "Drop-Off Location" %></td>
        <td><%= f.label :PUDate, "Pick-Up Date" %></td>
        <td><%= f.label :PUTime, "Pick-Up Time" %></td>
      </tr>
      <tr class="row">
        <td><%= f.select :PULocation, options_for_select(Location.select{|location| location.locationType == "Pick-Up"}.map{|l| l.name}) %></td>
        <td><%= f.select :DOLocation, options_for_select(Location.select{|location| location.locationType == "Drop-Off"}.map{|l| l.name}) %></td>
        <td><%= f.date_field :PUDate %></td>
        <td><%= f.time_field :PUTime %></td>   
      </tr>
    </table>
    <% if @request.errors.include? :date %>
      <%= javascript_tag "alertDate()" %>
    <% elsif @request.errors.any? %>
      <%= javascript_tag "alertEmpty()" %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
  <% end %>
</div>
</body>
