<div class="header">
    <h3>Your Request</h3>
</div>
<div class="container"> 
    <div class="caption">View Individual Requests</div>
    <table class="table">
        <thead>
            <tr class="header-row">
                <th>Time Created</th>
                <th>Student ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Pick-Up Location</th>
                <th>Drop-Off Location</th>
                <th>Request Date</th>
                <th>Arrival Time</th>
                <th>Departure Time</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= @request.created_at %></td> 
                <td><%=  %></td>
                <td><%=  %></td>
                <td><%=  %></td>
                <td><%= @request.Email %></td>
                <td><%= @request.PULocation %></td>
                <td><%= @request.DOLocation %></td>
                <td><%= @request.PUDate %></td>
                <td><%= @request.ArrivalTime %></td>
                <td><%= @request.DepartureTime %></td>
                <td><%= @request.status %></td>
                <td class="tableButton"><%= link_to 'Delete', request_path(@request.id), :method => :DELETE  %></td>
            </tr>
        </tbody>    
    </table>
</div>
    