<div class="container"> 
    <div class="caption"><h1>View Individual Request</h1></div>
    <table class="table">
        <thead>
            <tr>
                <th>Created at</th>
                <th>Student ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Pick-Up Location</th>
                <th>Drop-Off Location</th>
                <th>Request Date</th>
                <th>Arrival Time</th>
                <th>Departure Time</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>        
                <% @user = User.find_by :id => @request.user_id %>
                <td><%= @request.created_at.strftime("%d %b. %Y") %></td> 
                <td><%= @user.sID %></td>
                <td><%= @user.name %></td>
                <td><%= @user.email %></td>
                <td><%= @request.PULocation %></td>
                <td><%= @request.DOLocation %></td>
                <td><%= @request.PUDate %></td>
                <td><%= @request.ArrivalTime %></td>
                <td><%= @request.DepartureTime %></td>
                <td><%= @request.status %></td>
                <td class="tableButton"><%= link_to 'Delete', request_path(@request.id), :method => :DELETE  %></td>
            </tr>
        </tbody>    
    </table>
</div>
    