<div class = "container" style="background: rgba(255, 255, 255, 0.9);"> 
    <div class="caption" style="background: green;"><h1>View All Locations</h1></div>
    <table class="table">
        <thead>
            <tr>
                <th>Time Created</th>
                <th>Site Name</th>
                <th>Address</th>
                <th>Location Type</th>
            </tr>
        </thead>
            
        <% @locations.each do |location| %>
        <tbody>
            <tr>
                <td><%= location.created_at %></td> 
                <td><%= location.name %></td>
                <td><%= location.address %></td>
                <td><%= location.locationType %></td>
                <td class="tableButton"><%= link_to 'Show', location_path(location.id), :method => :GET , :id => "Show"%></td>
                <td class="tableButton"><%= button_to 'Delete', location_path(location.id), :method => :DELETE  %></td>
            </tr>
        </tbody>
        <% end %>
    </table>
</div> 
