<body>
<script>
  function alertEmpty() {
    alert("You must complete all fields!");
  }
</script>
  
<div class="container">
  <div class="caption"><h1>Add a New Location</h1></div>
  <%= form_for(@location) do |f| %>
  <div class="field">
    <table class="table">
      <thead>
        <tr>
          <td><%= f.label :name, "Location Name" %></td>
          <td><%= f.label :address, "Location Address" %></td>
          <td><%= f.label :locationType, "Location Type" %></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= f.text_field :name %></td>
          <td><%= f.text_field :address %></td>
          <td><%= f.select :locationType, [["Pick-Up", "Pick-Up"], ["Drop-Off", "Drop-Off"]],:value => @location.locationType %></td>
        </tr>
      </tbody>
    </table>
    <% if @location.errors.any? %>
      <%= javascript_tag "alertEmpty()" %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Create", :class => "btn btn-primary pull-right" %>
  </div>
  <% end %>
</div>
</body>
