<head>
  <style>
    #map {
      height:400px;
      width:80%;
      margin:auto;
    }
  </style>
</head>

<body>
<script>
  function alertEmpty() {
    alert("You must complete all fields!");
  }
</script>
  
<script>
  function initMap() {
    
    var geocoder = new google.maps.Geocoder();
    
    var tulane = {lat: 29.9404291, lng: -90.1205452};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: tulane
    });
    
    document.getElementById('update').addEventListener('click', function codeAddress() {
      var address = document.getElementById('address').value;
      geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == 'OK') {
          map.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
          });
        } else {
          alert('Geocode was not successful for the following reason: ' + status);
        }
      });
    });
  }
</script>

<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQQujOJXKd7aZNABRMqm8teH30MsyrbGY&callback=initMap" async defer>
</script>
  
<div class="container" style="background: rgba(255, 255, 255, 0.9);">
  <div class="caption" style="background: green;"><h1>New Location</h1></div>
  <%= form_for(@location) do |f| %>
  <div class="field">
    <table class="table">
      <thead>
        <tr>
          <td><%= f.label :name, "Location Name" %></td>
          <td><%= f.label :address, "Location Address" %></td>
          <td><%= f.label :locationType, "Location Type" %></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= f.text_field :name %></td>
          <td><%= f.text_field :address, :id => "address" %><div id = "update" class="btn btn-xs btn-primary">Update</div></td>
          <td><%= f.select :locationType, [["Pick-Up", "Pick-Up"], ["Drop-Off", "Drop-Off"]],:value => @location.locationType"%></td>
        </tr>
      </tbody>
    </table>
    <% if @location.errors.any? %>
      <%= javascript_tag "alertEmpty()" %>
    <% end %>
    
    <div id="map"></div>
    
  </div>
  
  <div class="actions">
    <%= f.submit "Create", :class => "btn btn-primary pull-right" %>
  </div>
  <% end %>
</div>
</body>
