<!DOCTYPE html>
<html>
<head>
  <title>TOTS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <style>
    html {
      height:100%;
    }
    body {
      height:80%;
      padding:60px;
      background:url('https://journalofadreamerdotcom.files.wordpress.com/2015/03/dsc_0418-21.jpg');
      background-size:cover;
    }

    .nav navbar-nav a {
      color:white;
    }
    
    .container {
      padding-bottom: 10px;
      /*background: rgba(255, 255, 255, 0.9);*/
    }
    #map {
      height:400px;
      width:80%;
      margin:auto;
      background: blue;
      border-style:solid;
      border-width:3px;
    }
  </style>
  
</head>
<div class="container">
  <nav class="navbar navbar-fixed-top navbar-inverse" style="background-color:green;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">TOTS</a>
      </div>
      <% if current_user %>
      <ul class="nav navbar-nav">
        <% if current_user.user_type=="Student" %>
        <li class="<%= 'active' if current_page?('/requests') %>"><a href="/requests">My Requests</a></li>
        <li class="<%= 'active' if current_page?('/requests/new') %>"><a href="/requests/new">New Request</a></li>
        
        <% elsif current_user.user_type=="Manager" %>
        <li class="<%= 'active' if current_page?('/requests') %>"><a href="/requests">View Requests</a></li>
        <li class="<%= 'active' if current_page?('/requests/new') %>"><a href="/requests/new">New Request</a></li>

        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/locations">Locations<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/locations">View Locations</a></li>
            <li><a href="/locations/new">New Location</a></li>
          </ul>
        </li>
        <% end %>
      
      </ul>
      <ul class="nav navbar-nav navbar-right">  
        <li><a href="/update"> <%= current_user.name %> <span class="glyphicon glyphicon-user"></span></a></li>
        <li><a href="/logout">Sign Out <span class="glyphicon glyphicon-log-out"></span></a></li>
      </ul>  
      
      <% else %>
      <ul class="nav navbar-nav navbar-right">  
        <li><a href="/auth/facebook">Sign In <span class="glyphicon glyphicon-log-in"></span></a></li>
      </ul>  
      <% end %>
    </div>
  </nav>
  
  <%= yield %>

</div>
</html>
